.style {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #666666;
	background-color: #e6e6e6;
	letter-spacing: normal;
	word-spacing: normal;
	white-space: normal;
	clear: both;
	float: none;
	height: auto;
	width: auto;
	line-height: normal;


}
a:link {
	font-family: "Courier New", Courier, mono;
	font-size: 10px;
	text-decoration: underline overline;
}
